// Colors Primary
$--color-primary-paragraph: hsl(215, 51%, 70%);
$--color-primary-price: hsl(178, 100%, 50%);


// Colors Neutra
$--color-neutral-body: hsl(217, 52%, 10%);;
$--color-neutral-main-bg: hsl(217, 54%, 11%);
$--color-neutral-card-bg: hsl(216, 50%, 16%);
$--color-neutral-line: hsl(215, 32%, 27%);
$--color-neutral-white: hsl(0, 0%, 100%);
